<div class="row">
  <div class="col-sm-12">
    <div class="card mb-3">
      <div class="card-header">
        Order Status: <b>Shipped</b>
      </div>
      <div class="card-body" >
        <div class="row">
          <div class="col-sm-2">
            <img src="https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ.book-thumb-images/rappin.jpg" class="img-fluid" alt="asdas">
          </div>
          <div class="col-sm-10">
            <h5 class="card-title">Book Title</h5>
            <h6 class="card-subtitle">Book Sub Title Goes Here</h6>
            <p class="card-text mt-3">
              Book Price <br />
              Shipped To: Ashwin <br />
              Shipped On: 12/11/2012 <br />
              <a routerLink="/book-details/2">Book Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>