<div class="row mt-3" *ngIf="book">
  <div class="col-sm-4 text-right">
    <img [src]="book.thumbnailUrl" alt="{{book.title}}" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-8">
    <h1 class="mb-3">{{book.title}}</h1>
    <h3>{{book.categories}}</h3>
    <div class="mt-4 mb-3">
      Authors - {{book.authors}} <br />
      Pages - {{book.pageCount}} <br />
      ISBN - {{book.isbn}}
    </div>
    <div>{{book.price | currency}}</div>
    <div class="mt-3 mb-3">
      <button class="btn btn-primary btn-lg" (click)="buyNow()">Buy Now</button>
    </div>
    <p>
      {{book.longDescription}}
    </p>
  </div>
</div>