.current-order-item-container {
    padding:1rem 0;
    margin:0;
    border:1px solid #ddd;
    border-radius: 4px;
}

.img-max-width {
    max-width: 100px;
}

.shopping-item-action a {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}